<div class="container home">
	<div class="jumbotron" ng-if="!loggedIn">
		<h1>Votem Sample App</h1>
		<p>Welcome to the Votem sample app. You can experience the process of voting online here.</p>
		<p>I do not allow users to create an account, instead, we handle and would distribute this information to voters.</p>
		<p>If you know you know your sign in information, you can login up top to get started voting!</p>
	</div>

	<div class="jumbotron" ng-if="loggedIn">
		<h1>Welcome</h1>
		<h3>Thank you for taking time to vote!</h3>
	</div>
</div>